.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.Screen {
  /* Green 300 */
  background-color: #81C784;
  margin-top: 40px;
  display: grid;
  grid-template: 80px 1fr / 1fr;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.Tasks{
  width: 80vw;
  height: 80vh;
}

.Operation {
  width: 40vw;
  height: fit-content;
}

.TitleContainer {
  width: 100%;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: x-large;
  font-weight: bold;
}

.Container {
  border-radius: 10px;
}

.ListContainer {
  grid-column: 1 / 2;
  margin: 0px 20px 20px;
  display: grid;
  grid-template: 65px 1fr / 1fr;
  overflow: auto;
  /* Yellow 200 */
  background-color: #FFF59D;
}

.FormContainer {
  background-color: #FFF59D;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: auto;
}

.AddTaskImage {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 40px;
}

.AddTaskImage:hover {
  /* Green A100 */
  background-color: #B9F6CA;
}

.AddTaskImage:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.ListFilter {
  display: flex;
  align-items: center;
  margin: 20px;
}

.ListFilterLabel1 {
  margin-right: 10px;
  padding-bottom: 5px;
  font-weight: 600;
}

.ListFilterLabel2 {
  margin-left: 10px;
  padding-bottom: 5px;
  font-weight: 600;
}

.List {
  margin: 20px;
  padding-left: 0px;
}

li {
  padding: 5px;
  list-style-type: none;
}

.TaskContainer {
  display: flex;
  align-items: center;
  /* Green 200 */
  border-bottom: 1px solid #A5D6A7;
}

.TaskContainer:hover {
  /* Green 900 */
  border-bottom: 1px solid #1B5E20;
}

.TaskButtonsContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.LineThrough {
  text-decoration: line-through;
}

.FormTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  margin: 20px;
}

.Form {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.Input {
  /* Green 50 */
  background: #E8F5E9;
  border-radius: 5px;
  /* Green A700 */
  border-color: #00C853;
}

.FormInput {
  margin-bottom: 20px;
}

.TextArea {
  resize: vertical;
}

.FormButtonsContainer {
  display: flex;
  justify-content: center;
}

.Button {
  border-radius: 5px;
  /* Green 900 */
  border: 1px solid #1B5E20;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  cursor: pointer;
  color: black;
}

.TaskButton {
  height: fit-content;
  width: fit-content;
  /* Yellow 200 */
  background-color: #FFF59D;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.TaskButton:hover {
  /* Yellow 400 */
  background-color: #FFFF8D;
}

.TaskButton:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.SubmitButton {
  /* Green 500 */
  background-color: #66BB6A;
  font-weight: 600;
}

.SubmitButton:hover {
  /* Green 600 */
  background-color: #43A047;
}

.ResetButton {
  /* Green 50 */
  background-color: #E8F5E9;
  margin-left: 10px;
}

.ResetButton:hover {
  /* Green 200 */
  background-color: #A5D6A7;
}

.Button:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.Footer {
  margin-bottom: 10px;
}

.Bold{
  font-weight: 600;
}

@media (max-width:800px) {
  .Tasks {
    width: 90vw;
  }
}

@media (min-width:1200px) {
  .Tasks {
    width: 70vw;
  }
}

@media (min-width:1600px) {
  .Tasks {
    width: 60vw;
  }
}